# Entorno virtual
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Base de datos
#db.sqlite3
#*.sqlite3

# Archivos de configuración local
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini